.card {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 300px;
  min-width: 300px;
  font-family: "Lato";
  color: #ffffff;
}

.card-header {
  display: flex;
  align-items: flex-start;
  align-items: center;
  margin-bottom: 7px;
}

.card-header-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fbbd4a;
  margin-right: 0.77px;
}

.card-title {
  font-size: 30px;
  margin: 0%;
}

.icon {
  height: 30px;
  width: 30px;
  border: none;
}

.card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  height: 36px;
  width: 228px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 36px;
  margin-right: 36px;
}

.category {
  display: flex;
  flex-direction: row-reverse;
  width: 264px;
  height: 17px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 36px;
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  margin-bottom: 12px;
  margin-right: 34px;
}

.button-up {
  background-color: rgba(var(--color-green-positive), 0.8);
}

.button-down {
  background: #fbbd4a;
}

.icon-vote {
  height: 38px;
  width: 107px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 1);
  font-size: 15px;
  font-family: "Lato";
  color: #ffffff;
}

.card-footer {
  display: flex;
  height: 36px;
  width: 300px;
  font-weight: 400;
  font-size: 18px;
}

.percentage-approval {
  display: flex;
  gap: 6px;
  width: 150px;
  height: 36px;
  align-items: center;
  background: rgba(60, 187, 180, 0.6);
}

.percentage-approval_icon {
  width: 15px;
  height: 15px;
  margin-left: 12px;
}

.percentage-rejection {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
  height: 36px;
  background: rgba(249, 173, 29, 0.6);
}

.percentage-rejection_icon {
  width: 15px;
  height: 15px;
  margin-right: 12px;
}
